@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animasi untuk Project Section */

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}